<div class="page-header-top">
    <div class="container">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html">
                <img src="~/Content/Logo.png" alt="logo" class="logo-default">
            </a>
        </div>
        <!-- END LOGO -->
    </div>
</div>
