@using GJF.Domain.Models.Tournament


@(Html.Kendo().Grid<TournamentViewModel>()
    .Name("TournamentsGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Hidden(true);
        columns.Bound(p => p.Name).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false)));
        columns.Bound(p => p.Description).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").ShowOperators(false)));
        columns.Bound(p => p.NumberOfContestants).Filterable(ftb => ftb.Cell(cell => cell.Operator("equals").ShowOperators(false)));
        columns.Template(c => { }).ClientTemplate(CommandTemplate().ToHtmlString()).Width(375);
    })
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .ToolBar(toolbar => toolbar.Create().Text("  ტურნირის დამატება").HtmlAttributes(new { style = "padding:10px;", href = Url.Action("Create", "Tournament") }))
    .Pageable(pageable => pageable
      .Refresh(true)
      .PageSizes(true)
      .ButtonCount(5))
    .Editable(editable => editable.Enabled(false))
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
         .Ajax()
         .PageSize(10)
         .Model(model =>
         {
             model.Id(p => p.Id);
         })
        .Read(read => read.Action("GetTournaments", "Tournament"))
        .Destroy(update => update.Action("Delete", "Tournament"))
    )
)

@helper CommandTemplate()
{
    <a class="k-button k-button-icontext" title="მართვა" href="@Url.Action("Index","TournamentSportsman")?id=#=Id#">
        <span class="k-icon k-edit"></span> მართვა
    </a>
    <a class="k-button k-button-icontext k-grid-edit" title="ჩასწორება" href="@Url.Action("Edit","Tournament")?id=#=Id#">
        <span class="k-icon k-edit"></span> ჩასწორება
    </a>
    <a class="k-button k-button-icontext k-grid-delete RecordDeleteButton" data-grid-id="UsersGrid" style="color:white; background: red;" title="წაშლა" href="\\#">
        <span class="k-icon k-delete"></span>წაშლა
    </a>
}


<script src="~/Scripts/Custom/Kendo/GridItemsPerPageRemover.js"></script>
